## 16 Feb Assignment

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### Ans:

#### A database is an organized collection of data that is stored and managed in a structured manner. It provides a way to store, retrieve, update, and manage large amounts of information efficiently. Databases are commonly used in various applications, including websites, enterprise systems, and data analytics.

#### SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems that serve different purposes:

#### SQL Databases:
1. Structure: SQL databases follow a tabular structure with predefined schemas, where data is organized into tables with rows and columns. Each row represents a record, and each column represents a specific attribute or field of the data.
2. Schema: SQL databases have a fixed schema that defines the structure of the data. The schema needs to be defined before data can be inserted into the database. Any changes to the schema usually require altering the database structure.
3. Data Consistency: SQL databases prioritize data consistency and enforce strict rules for data integrity. They use ACID (Atomicity, Consistency, Isolation, Durability) properties to ensure that data remains accurate and reliable even in the presence of concurrent operations.
4. Query Language: SQL databases use the SQL language to query and manipulate data. SQL provides a standardized way to interact with databases and perform operations such as SELECT, INSERT, UPDATE, and DELETE.

#### NoSQL Databases:
1. Structure: NoSQL databases have a flexible structure and do not rely on predefined schemas. They can handle unstructured, semi-structured, and structured data formats, such as JSON, XML, key-value pairs, graphs, or documents.
2. Schema: NoSQL databases are schema-less or schema-flexible, allowing developers to store data without explicitly defining a fixed structure. This flexibility allows for easier scalability and adaptability to changing data requirements.
3. Scalability: NoSQL databases are designed to scale horizontally, meaning they can distribute data across multiple servers to handle large amounts of traffic and data storage. This scalability is particularly useful in web applications that experience high loads.
4. Query Language: NoSQL databases offer various query languages depending on the specific database type, such as MongoDB's query language for document databases or Neo4j's query language for graph databases. These languages often provide rich querying capabilities tailored to the specific data model.

#### The choice between SQL and NoSQL databases depends on the requirements of the application. SQL databases are well-suited for applications that require strict data consistency and transactions, such as financial systems or applications dealing with highly structured data. NoSQL databases, on the other hand, are more suitable for scenarios that require flexible data models, scalability, and handling large amounts of unstructured or rapidly changing data, such as social media platforms or real-time analytics.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### Ans

#### DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and constraints. Here's an explanation of some common DDL statements:

#### 1. CREATE:
#### The CREATE statement is used to create new database objects. For example, to create a table named "Employees" with columns like "ID," "Name," and "Salary," you can use the following SQL statement:

```sql
CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Salary DECIMAL(10,2)
);
```

#### This statement creates a new table called "Employees" with three columns: "ID," "Name," and "Salary." The ID column is defined as the primary key, and the Name and Salary columns are of type VARCHAR and DECIMAL, respectively.

#### 2. DROP:
#### The DROP statement is used to remove an existing database object. For instance, to drop the previously created "Employees" table, you can use the following SQL statement:

```sql
DROP TABLE Employees;
```

#### This statement removes the "Employees" table and all its associated data and indexes from the database.

#### 3. ALTER:
#### The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or indexes. Here's an example of using ALTER to add a new column to the "Employees" table:

```sql
ALTER TABLE Employees
ADD COLUMN Age INT;
```

#### This statement adds a new column called "Age" of type INT to the "Employees" table.

#### 4. TRUNCATE:
#### The TRUNCATE statement is used to remove all data from a table, but it keeps the table structure intact. It is faster than the DELETE statement because it does not log individual row deletions. For example, to remove all data from the "Employees" table:

```sql
TRUNCATE TABLE Employees;
```

#### This statement deletes all rows from the "Employees" table, but the table itself remains in the database.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### Ans:

#### DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manage data within a database. DML statements are used to insert, update, and delete data in database tables. Here's an explanation of some common DML statements:

#### 1. INSERT:
#### The INSERT statement is used to insert new data into a table. You can use it to add one or multiple rows of data into a table. Here's an example of using INSERT to add a new record into an "Employees" table:

```sql
INSERT INTO Employees (ID, Name, Salary)
VALUES (1, 'John Doe', 5000);
```

#### This statement inserts a new row into the "Employees" table with the specified values for the ID, Name, and Salary columns.

#### 2. UPDATE:
#### The UPDATE statement is used to modify existing data in a table. It allows you to update specific columns or values in one or more rows. Here's an example of using UPDATE to change the salary of an employee in the "Employees" table:

```sql
UPDATE Employees
SET Salary = 6000
WHERE ID = 1;
```

#### This statement updates the Salary column for the employee with ID 1, changing it to 6000.

#### 3. DELETE:
#### The DELETE statement is used to remove one or more rows from a table. It allows you to specify a condition to determine which rows to delete. Here's an example of using DELETE to remove an employee from the "Employees" table:

```sql
DELETE FROM Employees
WHERE ID = 1;
```

#### This statement deletes the row from the "Employees" table where the ID is 1.

### Q4. What is DQL? Explain SELECT with an example.

#### Ans:

#### DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to query and retrieve data from a database. DQL statements are primarily focused on retrieving information from database tables. The most commonly used DQL statement is SELECT, which allows you to specify which data you want to retrieve and how to retrieve it. Here's an explanation of the SELECT statement with an example:

#### The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, the table(s) from which to retrieve data, and any filtering or sorting criteria. Here's an example of using SELECT to retrieve employee information from an "Employees" table:

```sql
SELECT ID, Name, Salary
FROM Employees;
```

#### This SELECT statement retrieves the ID, Name, and Salary columns from the "Employees" table. The result will be a set of rows representing the employee records with these columns.

#### You can also add conditions to filter the data you retrieve using the WHERE clause. For example, to retrieve employees with a salary greater than 5000:

```sql
SELECT ID, Name, Salary
FROM Employees
WHERE Salary > 5000;
```

#### This statement adds a condition to the SELECT query, filtering the data to only include employees with a salary greater than 5000.

#### Additionally, can use the SELECT statement to perform calculations and aggregate functions on the retrieved data. For instance, to retrieve the average salary of all employees:

```sql
SELECT AVG(Salary) AS AverageSalary
FROM Employees;
```

#### This statement uses the AVG() function to calculate the average salary from the "Employees" table and provides the result as "AverageSalary".

#### The SELECT statement is highly flexible and allows to combine multiple tables, join them together, sort the data, and perform various transformations and calculations. It is the primary DQL statement used for retrieving specific data from a database based on your requirements.

### Q5. Explain Primary Key and Foreign Key.

#### Ans:

#### Primary Key:
#### A primary key is a column or a combination of columns in a database table that uniquely identifies each row in the table. It ensures the integrity and uniqueness of the data within the table. Here are some key points about primary keys:

1. Uniqueness: A primary key must have a unique value for each row in the table. No two rows can have the same primary key value.

2. Non-nullability: A primary key cannot contain null values. Each row must have a non-null value for the primary key column(s).

3. Single Value: A primary key can consist of one or multiple columns, forming a composite key. In a composite key, the combination of the columns must be unique.

4. Indexing: Primary keys are often automatically indexed by the database system to improve query performance.

5. Examples: In an "Employees" table, an "EmployeeID" column can be designated as the primary key, ensuring each employee has a unique ID. Alternatively, a composite primary key could include both "EmployeeID" and "DepartmentID" to enforce uniqueness across both columns.

#### Foreign Key:
#### A foreign key is a column or a combination of columns in a database table that establishes a link between the data in two tables. It represents a relationship between the referenced table and the table containing the foreign key. Here are some key points about foreign keys:

1. Relationship: A foreign key establishes a relationship between two tables based on the values in the referenced column(s).

2. Referential Integrity: Foreign keys enforce referential integrity, meaning that the values in the foreign key column(s) must exist in the referenced table's primary key column(s). It ensures that data in the relationship remains consistent and valid.

3. Multiple Foreign Keys: A table can have multiple foreign keys, each representing a different relationship with other tables.

4. Examples: In a database with two tables, "Orders" and "Customers," the "CustomerID" column in the "Orders" table can be a foreign key that references the "CustomerID" primary key in the "Customers" table. This establishes a relationship between orders and customers, ensuring that every order is associated with a valid customer.

#### Foreign keys can also define cascading actions, such as CASCADE, SET NULL, or SET DEFAULT. These actions dictate what happens when a referenced primary key is updated or deleted, affecting the foreign key values in other tables.

#### Overall, primary keys and foreign keys are crucial components of relational databases. Primary keys uniquely identify rows within a table, while foreign keys establish relationships between tables, ensuring data integrity and consistency throughout the database.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### Ans: 
    
#### Example of Python code that demonstrates how to connect to a MySQL database and use the `cursor()` and `execute()` methods to execute SQL queries:

In [ ]:
###python
import mysql.connector

# Establishing the connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object to interact with the database
cursor = connection.cursor()

# Executing an SQL query using the execute() method
query = "SELECT * FROM employees"
cursor.execute(query)

# Fetching the results of the query using fetchall()
results = cursor.fetchall()

# Displaying the fetched results
for row in results:
    print(row)

# Closing the cursor and the database connection
cursor.close()
connection.close()

#### Explanation:

1. Import the `mysql.connector` module to use the MySQL Connector/Python library.

2. Establish a connection to the MySQL database using the `mysql.connector.connect()` method. Provide the necessary parameters such as the host, username, password, and database name.

3. Create a cursor object using the `cursor()` method. The cursor is responsible for executing SQL queries and fetching results.

4. Define an SQL query and pass it to the `execute()` method of the cursor object. In this example, we execute a simple `SELECT` query to fetch all rows from the "employees" table.

5. Use the `fetchall()` method to retrieve all the results returned by the query and store them in the `results` variable.

6. Iterate over the `results` and print each row.

7. Close the cursor and the database connection using the `close()` method.

#### The `cursor()` method creates a cursor object that allows you to execute SQL queries and fetch the results. It acts as a mediator between Python and the MySQL database, enabling interaction with the database.

#### The `execute()` method is used to execute an SQL query passed as a parameter to the method. It is used to perform various operations like selecting data, updating data, inserting data, and more. The method takes an SQL query as an argument and executes it against the database.

#### In the provided code, the `execute()` method is used to execute the `SELECT` query, fetching all the rows from the "employees" table.

Note: Remember to replace `"your_username"`, `"your_password"`, and `"your_database"` with the appropriate values for your MySQL configuration.

### Q7. Give the order of execution of SQL clauses in an SQL query.

#### Ans:

#### The order of execution of SQL clauses in a typical SQL query is as follows:

1. SELECT: The SELECT clause is used to specify the columns you want to retrieve from the database table. It determines the data that will be returned in the result set.

2. FROM: The FROM clause specifies the table or tables from which you want to retrieve the data. It identifies the source or sources of the data.

3. WHERE: The WHERE clause is used to filter the data based on specified conditions. It allows you to narrow down the result set by applying logical conditions to the columns.

4. GROUP BY: The GROUP BY clause is used to group the rows based on one or more columns. It is often used with aggregate functions such as COUNT, SUM, AVG, etc., to perform calculations on grouped data.

5. HAVING: The HAVING clause is used to filter the groups created by the GROUP BY clause. It allows you to specify conditions on the grouped data.

6. ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns in ascending (ASC) or descending (DESC) order.

7. LIMIT/OFFSET: The LIMIT clause is used to restrict the number of rows returned in the result set. It specifies the maximum number of rows to be retrieved. Some database systems also support the OFFSET clause, which specifies the number of rows to skip before starting to return the result set.

#### It's important to note that not all clauses are mandatory in every SQL query. The basic structure of a SELECT query includes the SELECT and FROM clauses, while the other clauses are optional depending on the requirements of the query.

#### Here's an example query to illustrate the order of execution:

```sql
SELECT column1, column2
FROM table_name
WHERE condition
GROUP BY column1
HAVING condition
ORDER BY column1 ASC
LIMIT 10;
```

#### In this example, the clauses are listed in the correct order according to their execution. The query selects specific columns from a table, applies a condition to filter the data, groups the rows based on a column, applies a condition to the grouped data, sorts the result set based on a column, and limits the result set to 10 rows.