## 22 Feb Assignment

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [9]:
#Code:

import pandas as pd

s = {"0":4, "1":8, "2":15,"3":16, "4":23, "5":42}
p=pd.Series(s)
print(p)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [10]:
#Code:

import pandas as pd

sub_list = ['Science','English','Hindi','Maths','Geography','History','Social Science','PT','Value Education','Computers']

my_series = pd.Series(sub_list)

print(my_series)

0            Science
1            English
2              Hindi
3              Maths
4          Geography
5            History
6     Social Science
7                 PT
8    Value Education
9          Computers
dtype: object

### Q3. Create a Pandas DataFrame that contains the following data: 
#### Name: Alice Bob Claire
#### Age: 25 30 27
#### Gender: Female Male Female

In [15]:
# Code:

import pandas as pd

data = {"Name" : ["Alice", "Bob" , "Claire"] , "Age" : [25, 30, 27], "Gender": ["Female","Male", "Female"]}
pd.DataFrame(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#### Ans:
#### In pandas, a DataFrame is a two-dimensional data structure that is designed to handle tabular data. It can be thought of as a collection of Series objects, where each Series represents a column of data. In other words, a DataFrame is a table-like structure that contains rows and columns.

#### On the other hand, a Series is a one-dimensional labeled array that can hold any data type. It can be seen as a single column of data in a DataFrame. A DataFrame can contain multiple Series objects, each representing a different column.

In [16]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Emily'],
    'Age': [18, 19, 17, 18],
    'Grade': [85, 92, 78, 88]
}

df = pd.DataFrame(data)
print(df)

    Name  Age  Grade
0   John   18     85
1  Alice   19     92
2    Bob   17     78
3  Emily   18     88

#### In the above example, we create a DataFrame named df using a dictionary. The keys of the dictionary represent column names ('Name', 'Age', 'Grade'), and the corresponding values are lists that contain the data for each column. Each column is a Series object, and together they form the DataFrame.

#### We can access individual columns of the DataFrame as Series objects.

In [17]:
name_series = df['Name']
print(name_series)

0     John
1    Alice
2      Bob
3    Emily
Name: Name, dtype: object

#### Here, name_series is a Series object containing the names of the students. It has the same length as the DataFrame, and the index labels correspond to the row labels of the DataFrame.

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#### Pandas provides a wide range of functions to manipulate and analyze data in a DataFrame. Here are some commonly used functions:

#### 1. head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are useful for quickly inspecting the data.

In [21]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Emma', 'Peter'],
        'Age': [25, 28, 30],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

print(df.head(2))
print(df.tail(2))

   Name  Age      City
0  John   25  New York
1  Emma   28    London
    Name  Age    City
1   Emma   28  London
2  Peter   30   Paris

#### 2. describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles for each numeric column.

In [19]:
print(df.describe())

             Age
count   3.000000
mean   27.666667
std     2.516611
min    25.000000
25%    26.500000
50%    28.000000
75%    29.000000
max    30.000000

#### 3. info(): This function provides a summary of the DataFrame, including the column names, data types, and non-null values. It is helpful for understanding the structure of the DataFrame.

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

#### Ans:

#### A DataFrame in pandas is mutable, meaning that you can modify its content by adding, updating, or deleting rows or columns. You can change the values of individual cells, add new columns, remove existing columns, and perform various other operations to manipulate the DataFrame.

#### On the other hand, both Series and Panel in pandas are considered immutable. Once created, their values cannot be changed directly. If you want to modify a Series or Panel, you typically need to create a new object with the desired modifications.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
#Code:

import pandas as pd

# Create Series objects
avenger_series = pd.Series(['Captian America', 'Iron Man', 'Hulk', 'Thor', 'Black Widow'])
tool_series = pd.Series(['Shield', 'Suit', 'Gamma', 'Hammer', 'MMA'])
colour_series = pd.Series(['Blue', 'Red', 'Green', 'Red-Blue', 'Black'])

# Create DataFrame from the Series
data = {'Name': avenger_series, 'Age': age_series, 'City': city_series}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)