## 24 Feb Assignment

### Q1. List any five functions of the pandas library with execution.

In [11]:
# Consider the following data set as an example:
import pandas as pd
data = {'col_1': [3, 2, 1, 0,9,3,4,5,5,5,4], 'col_2': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']}
df=pd.DataFrame(data)
print(df)

    col_1 col_2
0       3     a
1       2     b
2       1     c
3       0     d
4       9     e
5       3     f
6       4     g
7       5     h
8       5     i
9       5     j
10      4     k

#### 1. head(): This function returns the first few rows of a DataFrame, allowing you to quickly inspect the data.

In [12]:
print(df.head())

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d
4      9     e

#### 2. info(): This function provides a summary of the DataFrame, including column names, data types, and non-null values.

In [14]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   11 non-null     int64
 1   col_2   11 non-null     object
dtypes: int64(1), object(1)
memory usage: 304.0+ bytes
None

#### 3. describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles for each numeric column.

In [15]:
print(df.describe())

           col_1
count  11.000000
mean    3.727273
std     2.412091
min     0.000000
25%     2.500000
50%     4.000000
75%     5.000000
max     9.000000

#### 4. groupby(): This function is used for grouping data based on one or more columns and allows you to perform operations on subsets of data.

In [31]:
grp = df.groupby('col_1')['col_1'].sum()
print(grp)

col_1
0     0
1     1
2     2
3     6
4     8
5    15
9     9
Name: col_1, dtype: int64

#### 5. sort_values(): This function is used to sort a DataFrame based on one or more columns.

In [33]:
sort = df.sort_values('col_1')
print(sort)

    col_1 col_2
3       0     d
2       1     c
1       2     b
0       3     a
5       3     f
6       4     g
10      4     k
7       5     h
8       5     i
9       5     j
4       9     e

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [2]:
import pandas as pd
data = {'A': [1,2,3,4,5,6], 'B': [9,8,7,6,5,4], 'C': [1,5,4,9,6,7]}
df1 = pd.DataFrame(data)
df1

   A  B  C
0  1  9  1
1  2  8  5
2  3  7  4
3  4  6  9
4  5  5  6
5  6  4  7

In [5]:
new_index = df1.reindex(index=[1,3,5,7,9], columns=None)
print(new_index)

     A    B    C
1  2.0  8.0  5.0
3  4.0  6.0  9.0
5  6.0  4.0  7.0
7  NaN  NaN  NaN
9  NaN  NaN  NaN

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [24]:
#Code

import pandas as pd
data1 = {'Values': [10, 20, 30, 40, 50]}
df2 = pd.DataFrame(data1)
s = df2.loc[[0, 1, 2]].sum()
print(df2)
print("--------------------")
print('Sum:', s)

   Values
0      10
1      20
2      30
3      40
4      50
--------------------
Sum: Values    60
dtype: int64

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [29]:
#Code:

import pandas as pd
data3 = {"Text": ['Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together.','Python is simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance.','Python supports modules and packages, which encourages program modularity and code reuse.','The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.']}
df4 = pd.DataFrame(data3)
df4['word_count'] = df4['Text'].apply(lambda x : len(x.split()))
print(df4)

                                                Text  word_count
0  Python is an interpreted, object-oriented, hig...          48
1  Python is simple, easy to learn syntax emphasi...          17
2  Python supports modules and packages, which en...          12
3  The Python interpreter and the extensive stand...          26

### Q5. How are DataFrame.size() and DataFrame.shape() different?

The DataFrame.size and DataFrame.shape are both attributes in pandas DataFrame, but they represent different aspects of the DataFrame.

1. DataFrame.size: DataFrame.size represents the total number of elements in the DataFrame. It gives you the count of all cells in the DataFrame, including both rows and columns. The size is calculated as the product of the number of rows (DataFrame.shape[0]) and the number of columns (DataFrame.shape[1]).

Example:
```python
import pandas as pd

data = {'Name': ['John', 'Emma', 'Peter'],
        'Age': [25, 28, 30],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

print(df.size)
```
Output:
```
9
```

In this example, the DataFrame df has 3 rows and 3 columns, so the total number of elements is 9.

2. DataFrame.shape: DataFrame.shape returns a tuple representing the dimensions of the DataFrame. It provides information about the number of rows and columns in the DataFrame.

Example:
```python
import pandas as pd

data = {'Name': ['John', 'Emma', 'Peter'],
        'Age': [25, 28, 30],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

print(df.shape)
```
Output:
```
(3, 3)
```

In this example, the DataFrame df has 3 rows and 3 columns, so the shape is represented as (3, 3).

In summary, the key difference between DataFrame.size and DataFrame.shape is that DataFrame.size gives the total number of elements (cells) in the DataFrame, while DataFrame.shape provides the dimensions (number of rows and columns) of the DataFrame as a tuple.

### Q6. Which function of pandas do we use to read an excel file?

#### Ans:  The function used is : `read_excel('filename')`

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [36]:
#Code
import pandas as pd
data4 = {"Email" : ['zayoku-vaso14@mail.com', 'mic-uvebaxo97@outlook.com','kajuloh-iku91@yahoo.com',
'yutipo_mobu8@outlook.com','secux-imeci37@aol.com','xuxu-kenoje20@gmail.com','nis-irotiko43@aol.com']}
df5 = pd.DataFrame(data4)
df5['Username']= df5['Email'].apply(lambda x : x.split('@')[0])
df5

                       Email       Username
0     zayoku-vaso14@mail.com  zayoku-vaso14
1  mic-uvebaxo97@outlook.com  mic-uvebaxo97
2    kajuloh-iku91@yahoo.com  kajuloh-iku91
3   yutipo_mobu8@outlook.com   yutipo_mobu8
4      secux-imeci37@aol.com  secux-imeci37
5    xuxu-kenoje20@gmail.com  xuxu-kenoje20
6      nis-irotiko43@aol.com  nis-irotiko43

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [10]:
# Code 

import pandas as pd

data = {'A': [3,8,6,2,9],
        'B': [5,2,9,3,1],
        'C': [1,7,4,5,2]}
df = pd.DataFrame(data)

df_new = (df['A'] > 5) & (df['B'] < 10)
df[df_new]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [17]:
# Code

import pandas as pd
data1 = {'Values': [10, 20, 30, 40, 50]}
df2 = pd.DataFrame(data1)
print('Mean:', df2.mean())
print("--------------------")
print('Median:', df2.median())
print("--------------------")
print('Mode:', df2.mode())

Mean: Values    30.0
dtype: float64
--------------------
Median: Values    30.0
dtype: float64
--------------------
Mode:    Values
0      10
1      20
2      30
3      40
4      50

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [27]:
# Code:

import pandas as pd

data = {'Date': ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05','2023-01-06','2023-01-07'],
        'Sales': [18000, 20000, 15000,14000,11000,16000,13000]}
df = pd.DataFrame(data)
df['MovingAverage']=df['Sales'].rolling(window=7, min_periods=1).mean()
df

         Date  Sales  MovingAverage
0  2023-01-01  18000   18000.000000
1  2023-01-02  20000   19000.000000
2  2023-01-03  15000   17666.666667
3  2023-01-04  14000   16750.000000
4  2023-01-05  11000   15600.000000
5  2023-01-06  16000   15666.666667
6  2023-01-07  13000   15285.714286

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [48]:
# Code:

import pandas as pd
import calendar
from datetime import date

data = {'Date': ['2023-01-01','2023-01-02','2023-01-03','2023-01-04','2023-01-05']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df['Weekday'] = df['Date'].apply(lambda x: x.strftime('%A'))
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [58]:
# Code:

import pandas as pd
data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-20', '2023-01-31', '2023-02-05','2023-03-20', '2023-04-31', '2023-01-09']}
df = pd.DataFrame(data)
df = df[(df['Date']>='2023-01-01') & (df['Date']<='2023-01-31')]
print(df)

         Date
0  2023-01-01
1  2023-01-15
2  2023-01-20
3  2023-01-31
7  2023-01-09

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

#### Ans:  To import the pandas library, one can use:
####            `import pandas as pd`